@model FortuneTellerMVC.Models.Rube

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rube</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BirthMonth.BirthMonth1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthMonth.BirthMonth1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorList.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorList.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>

</div>
<p>You will retire in <span>@ViewBag.RetYears</span> years</p>
<p>This should print an unlucky number: <span>@ViewBag.TryMe</span></p>
<p>This should print a small yell: <span>@ViewBag.TryMeToo</span></p>
<p>You will get around via <span>@ViewBag.RetVehicle</span></p>
<p>Finally, you will have $<span>@ViewBag.DollarsInBank</span> in the bank!</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RubeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
